<div class="browse">
  <div class="head">
    <h1>Recipes: Try some today!</h1>
  </div>
  <div class="one">
    <div class="pizza">
      <div class="pizza-img"></div>
      <div class="pizza-text">
        <h1>Supreme Pizza</h1>
        <p>
          Make pizza night super duper out of this world with homemade pizza.
          This recipe is supreme with vegetables and two types of meat. Yum!
        </p>
        <div class="ext">
          <img src="images/time.svg" alt="time" />
          <span>1h 24min</span>
          <img src="/images/servings.svg" alt="serve" />
          <span>4 servings</span>
        </div>
      </div>
    </div>
    <div class="burger">
      <div class="burger-img"></div>
      <div class="burger-text">
        <h1>Classic Burger</h1>
        <p>
          Sink your teeth into a delicious restaurant-style, hamburger recipe
          made from lean beef. Skip the prepackaged patties and take the extra
          time to craft up your own, and that little extra effort will be worth
          it.
        </p>
        <div class="ext">
          <img src="images/time.svg" alt="time" />
          <span>1h 24min</span>
          <img src="/images/servings.svg" alt="serve" />
          <span>4 servings</span>
        </div>
      </div>
    </div>
  </div>
  <div class="two">
    <div class="biryani">
      <div class="biryani-img"></div>
      <div class="biryani-text">
        <h1>Chicken Biryani</h1>
        <p>
          Chicken Biryani is a bold and flavorful Indian dish with crazy tender
          bites of chicken with bell peppers in a deliciously spiced and
          fragrant rice.
        </p>
        <div class="ext">
          <img src="images/time.svg" alt="time" />
          <span>1h 24min</span>
          <img src="/images/servings.svg" alt="serve" />
          <span>4 servings</span>
        </div>
      </div>
    </div>
    <div class="mein">
      <div class="mein-img"></div>
      <div class="mein-text">
        <h1>Chow Mein</h1>
        <p>
          A great Chow Mein comes down to the sauce - it takes more than just
          soy sauce and sugar! Jam packed with a surprising amount of hidden
          vegetables, customize this Chicken Chow Mein recipe using your protein
          of choice!
        </p>
        <div class="ext">
          <img src="images/time.svg" alt="time" />
          <span>1h 24min</span>
          <img src="/images/servings.svg" alt="serve" />
          <span>4 servings</span>
        </div>
      </div>
    </div>
  </div>
</div>
